<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>        
<script type="text/javascript" src="{{ url_for('static', filename='js/SmoothScroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.localScroll.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.viewport.mini.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.parallax-1.1.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/morphext.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lazyload.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/all.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/contact-form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>     